[submodule "06-ui-framework/react-education-ui-framework"]
	path = 06-ui-framework/react-education-ui-framework
	url = git@github.com:abuabdirohman4/react-education-ui-framework.git
[submodule "10-redux/education-react-redux"]
	path = 10-redux/education-react-redux
	url = git@github.com:withered-flowers/education-react-redux.git
[submodule "10-redux/react-education-redux"]
	path = 10-redux/react-education-redux
	url = git@github.com:abuabdirohman4/react-education-redux.git
[submodule "12-redux-middleware/react-education-redux-middleware"]
	path = 12-redux-middleware/react-education-redux-middleware
	url = git@github.com:abuabdirohman4/react-education-redux-middleware.git
[submodule "14-firebase-authentication/react-education-firebase-authentication"]
	path = 14-firebase-authentication/react-education-firebase-authentication
	url = git@github.com:abuabdirohman4/react-education-firebase-authentication.git
